/*
 * Admin Styles for Cirion Theme
 */

/* Menu */
ul.menu.ui-sortable > li .acf-fields [data-name="need_mega_menu"],
ul.menu.ui-sortable > li .acf-fields [data-name="menu_group"],
ul.menu.ui-sortable > li .acf-fields [data-name="group_alignment"] {
  display: none;
}
ul.menu.ui-sortable > li.menu-item-depth-2 .acf-fields [data-name="menu_group"],
ul.menu.ui-sortable > li.menu-item-depth-2 .acf-fields [data-name="group_alignment"],
ul.menu.ui-sortable > li.menu-item-depth-0 .acf-fields [data-name="need_mega_menu"] {
  display: block;
}
.wp-admin .wp-block-social-links.is-style-logos-only .wp-social-link svg {
  fill: #000000 !important;
}