/* Top Bar Styles */
	.cron-topbar {
		background: ;
	}
	.cron-search-box input::placeholder {
		color:  !important;
	}
	.cron-topbar .cron-navigation > ul > li > a {
		color: ;
	}
	.cron-topbar .dropdown-nav > li > a {
		color: ;
	}
	.cron-topbar .dropdown-nav > li > a:hover {
		color: ;
	}
	.cron-topbar .cron-navigation > ul > li > a:hover {
		color: ;
	}
	
	/* Main Navigation Styles */
	.cron-main-navigation {
		background-color: ;
	}
	.cron-navigation ul li a {
		color: ;
	}
	.cron-navigation ul li a:hover {
		color: ;
	}
	.cron-navigation > ul > li > a:before {
		background: ;
	}
	.dropdown-nav > li > a:before {
		background: ;
	}
	.cron-navigation .navigation-wrap .dropdown-nav {
		background: ;
	}
	.dropdown-nav > li:hover > a, .dropdown-nav > li > a:hover {
		background: ;
	}
	.dropdown-nav .dropdown-nav > li > a:hover {
		background: ;
	}
	
	/* Footer Styles */
	.cron-footer {
		background: ;
	}
	.footer-widget h3 {
		color: ;
	}
	.footer-wrap {
		color: ;
	}
	.footer-wrap ul {
		color: ;
	}
	.footer-wrap ul li a:hover {
		color: ;
	}
	.cron-footer .cron-social a {
		color: ;
	}
	.cron-footer .cron-social a:hover {
		color: ;
	}
	.cron-copyright {
		border-color: ;
	}
	.cron-copyright p {
		color: ;
	}